:root {
    --primary:rgb(192, 194, 231);
    --text-color: rgb(68, 56, 56);
    --bg: rgb(244, 244, 244);
  }

/* biodata */
.main .border {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 20px;
    right: 20px;
    height: 500px;
    width: 700px;
    position: relative;
    border: 5px solid var(--primary);
    background-color: var(--bg);
    box-shadow: 1px 2px 5px #888888;
    z-index: -1;
}

.main .biodata {
    top: 50px;
}

/* end biodata */

/* main content */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    top: 120px;
    left: 420px;
    position: absolute;
    z-index: -1;
    color: var(--text-color);
}

/* Content dalah dashboard */
.total-siswa {
    width: 43%;
    height: 40%;
    border: 3px solid var(--primary);
    color: var(--text-color);
    position: absolute;
    left: 30px;
    top: 30px;
}
.total-siswa h3 {
    margin: 25px;
}
.total-siswa a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
}

.total-petugas {
    width: 43%;
    height: 40%;
    border: 3px solid var(--primary);
    color: var(--text-color);
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.total-petugas h3 {
    margin: 25px;
}
.total-petugas a {
    font-size: 1000px;
}

.total-transaksi {
    width: 43%;
    height: 90%;
    border: 3px solid var(--primary);
    color: var(--text-color);
    position: absolute;
    right: 30px;
    top: 25px;
}
.total-transaksi h3 {
    margin: 25px;
}

/* akhir content dalam dashboards */

/* end search button */

/* responsive */
/* laptop */
@media (max-width: 1366px) {

}

/* tablet */
@media (max-width: 758px) {
    .main .content {
        top: 80px;
        left: 200px;
        position: absolute;
        z-index: -1;
    }
    .main .border {
        height: 330px;
        width: 530px;
    }
    .main .search {
        right: 50px;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    .main .content {
        top: 80px;
        left: 130px;
        position: absolute;
        z-index: -1;
    }
    .main .border {
        height: 330px;
        width: 430px;
    }
    .main .search {
        right: 10px;
    }
}
