@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-VariableFont_wght.ttf');
    
}
@font-face {
    font-family: 'Figtree';
    src: url('../font/Figtree-VariableFont_wght.ttf');
}