:root {
    --primary:rgb(192, 194, 231);
    --text-color: rgb(68, 56, 56);
    --bg: rgb(244, 244, 244);
  }

/* biodata */
.main .border {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    top: 250px;
    left: 70px;
    right: 20px;
    height: 22rem;
    width: 75rem;
    position: relative;
    border: 5px solid var(--primary);
    background-color: var(--bg);
    box-shadow: 2px 2px 6px #888888;
    z-index: 1;
}

.main .judul {
    position: absolute;
    background-color: var(--primary);
    height: 50px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.main .judul h3 {
    margin-top: 10px;
    margin-left: 10px;
    color: var(--text-color);
}

.main .isi {
    width: 80%;
    height: 65%;
    position: absolute;
}

.main .isi table {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.main .isi table th {
    text-align: left;
    color: var(--text-color);
    width: auto;
    height: auto;
}

.main .isi table td {
    color: var(--text-color);
    width: 20rem;
    height: auto;
}

/* button detail */
.tabel-tagih .btn-bayar {
    background-color: rgb(57, 132, 198);
    font-size: 15px;
    padding: 10px;
    position: relative;
    color: #fff;
    border-radius: 5px;
}
.tabel-tagih .btn-bayar:hover {
    background-color: rgb(52, 113, 168);
    color: rgb(234, 233, 233);
}
.tabel-tagih .btn-bayar-batal {
    background-color: rgb(224, 56, 56);
    position: relative;
    color: #fff;
    font-size: 15px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
}
.tabel-tagih tr td {
    text-align: left;
}
/* end biodata */

/* start tagihan siswa */
.main .border-tagih {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    top: 250px;
    left: 70px;
    right: 20px;
    height: 56rem;
    width: 75rem;
    position: relative;
    border: 5px solid var(--primary);
    box-shadow: 2px 2px 6px #888888;
    z-index: 1;
}

.main .isi-tagih {
    width: 100%;
    height: 700px ;
    top: 50px;
    position: absolute;
}

.main .isi-tagih table {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.main .isi-tagih table td {
    width: 400px;
    height: auto;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg);
    border-collapse: collapse;
}
.main .isi-tagih table th {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--primary);
}
.main .isi-tagih table .jatuh-tempo {
    padding: 20px;
    text-align: left;
}
/* end tagihan siswa */

/* main content */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    top: 80px;
    left: 230px;
    position: absolute;
    z-index: -1;
}

.main .search {
    color: white;
    top: 180px;
    right: 100px;
    position: absolute;
}

.content h2 {
    color: rgb(68, 56, 56);
}



/* search button */
.main .search input {
    border: 3px solid rgb(102, 165, 165);
    background-color: rgb(244, 244, 244);
    width: 130px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.main .search button {
    background-color: rgb(102, 165, 165);
    color: #fff;
    width: 50px;
    height: 25px;
    border-radius: 10px;
}

.main .search button:hover {
    background-color: rgb(80, 129, 129);
}
/* end search button */

/* responsive */
/* laptop */
@media (max-width: 1366px) {

}

/* tablet */
@media (max-width: 758px) {
    .main .content {
        top: 80px;
        left: 200px;
        position: absolute;
        z-index: -1;
    }
    .main .border {
        height: 330px;
        width: 530px;
    }
    .main .search {
        right: 50px;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    .main .content {
        top: 80px;
        left: 130px;
        position: absolute;
        z-index: -1;
    }
    .main .border {
        height: 330px;
        width: 430px;
    }
    .main .search {
        right: 10px;
    }
}
